ExpressJS/src/.env
ExpressJS/node_modules
.idea
ExpressJS/src/config/database.js
ExpressJS/src/index.js
Expressjs/src/app.js
VueJS/node_modules
ExpressJS/prisma/migrations
ExpressJS/src/assets
Old
VueJS/.idea
VueJS/.vscode
VueJs/.github